/.cache/
/.local/
/.quarto/
/.quarto-cache/
/.codex

*.html
*_files/
*.pdf

*.log
*.tmp
*.bak
*.swp
*.swo
*.Rhistory

mdout.mdp
empty.mdp
topol.tpr

runs/
RevealjsTemplate/

analysis/dynophore/
analysis/production/*.xtc
analysis/production/*.bat
analysis/production/*.par
analysis/production/*.top
analysis/production/*.xvg
analysis/pca/*.xtc
analysis/pca/*.trr
analysis/pca/*.gro
analysis/pca/*.xvg
analysis/pca/*.log
analysis/*report*.svg
